[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
twine = "*"
pytest = "*"

[packages]
pandas = "*"
sklearn = "*"
seaborn = "*"

[requires]
python_version = "3.7"
